* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container,
.main,
.bottom {
  display: grid;
}

.container {
  height: 100vh;
  grid-template-rows: 4fr 1fr;
}

.main {
  background: linear-gradient(#4c6100 20%, #98ae4c 110%);
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.form {
  grid-column: 1/-1;
  grid-row: 1/ 1 span;
  justify-self: center;
  align-self: center;
}

input,
.city,
.degrees {
  font-weight: bold;
}

input {
  margin-right: 20px;
  padding: 10px 5px;
  font-size: 14px;
  border: none;
  border-radius: 10px;
  background-color: #ccc;
  outline: none;
  color: #666;
  letter-spacing: 1px;
}
.input::placeholder {
  color: #333;
  opacity: 0.4;
  font-size: 12px;
}

.btn {
  border: none;
  vertical-align: middle;
  background-color: #4c6100;
  outline: none;
  cursor: pointer;
}
.fa-check-square {
  font-size: 35px;
  color: #ccc;
}

.bottom {
  grid-template-columns: repeat(4, 1fr);
  width: 100vw;
  flex-wrap: wrap;
  background-color: #fff;
  align-content: center;
}

.icons {
  width: 195px;
}

.position {
  display: flex;
  flex-direction: column;
  grid-column: 1/-1;
  grid-row: 2/-1;
  color: #ccc;
  font-size: 20px;
  align-items: center;
}

.city {
  text-transform: capitalize;
  font-size: 30px;
  margin-top: -20px;
}

.degrees {
  font-size: 36px;
  border-bottom: 1px solid #ccc;
}

.desc {
  font-size: 12px;
  margin-top: -6px;
}

.date {
  letter-spacing: 2px;
  justify-self: flex-end;
  border-top: 1px solid #ccc;
  font-size: 14px;
}

.bottomIcons {
  width: 54px;
  grid-column: 2/3;
}

span {
  font-size: 13px;
  justify-self: center;
}

.fa-wind,
.fa-poll {
  font-size: 44px;
  color: rgb(71, 166, 255);
  margin-top: 10px;
}

.size {
  display: flex;
  flex-wrap: wrap;
  border-right: 1px solid #ccc;
  justify-content: center;
}

.size:last-child {
  border-right: none;
}

.country {
  font-size: 30px;
  font-weight: normal;
}

.globe {
  font-size: 160px;
}

@media (orientation: portrait) and (min-height: 565px) {
  .city {
    font-size: 34px;
  }
  .icons {
    width: 210px;
  }
}

@media (orientation: portrait) and (min-width: 360px) {
  .input {
    padding: 12px 25px;
  }
  .city {
    font-size: 38px;
  }
  .bottomIcons {
    width: 65px;
  }
  .icons {
    width: 246px;
  }
  .fa-wind,
  .fa-poll {
    font-size: 56px;
  }
  .date {
    font-size: 16px;
  }
  span {
    font-size: 15px;
  }
}

@media (orientation: portrait) and (min-width: 375px) {
  .icons {
    width: 262px;
  }
  .desc {
    font-size: 14px;
  }
  .bottomIcons {
    width: 65px;
  }
}

@media (orientation: portrait) and (min-width: 414px) {
  .input {
    font-size: 16px;
  }
  .fa-check-square {
    font-size: 40px;
  }
  .city {
    font-size: 42px;
  }
  .desc {
    font-size: 16px;
  }
  .degrees {
    font-size: 42px;
  }
  .icons {
    width: 278px;
  }
  .fa-wind,
  .fa-poll {
    font-size: 60px;
  }
  .bottomIcons {
    width: 74px;
  }
  .date {
    font-size: 18px;
  }
  span {
    font-size: 18px;
  }
}
